@import "tailwindcss";

@theme {
  /* Aquí definimos tus colores personalizados */
  --color-accent: #11B6EB;
  --color-black: #050505;
  
  /* Sobrescribimos o extendemos colores base si es necesario */
  --color-zinc-900: #101010;
  --color-zinc-800: #1f1f1f;

  /* Fuentes */
  --font-sans: "Inter", system-ui, sans-serif;

  /* Animaciones personalizadas */
  --animate-fade-in: fadeIn 1s ease-out forwards;

  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.8); /* Grosor y Color del borde */
    color: transparent; /* Hace que el relleno sea invisible */
  }
  
  /* Opcional: Una versión más fina para móviles si se ve muy grueso */
  @media (max-width: 768px) {
    .text-stroke {
      -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
    }
  }
}

/* Estilos globales */
html, body {
  @apply bg-black text-white;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.swiper-button-prev, .swiper-button-next { color: white !important; }
.swiper-button-prev::after, .swiper-button-next::after { font-size: 2rem !important; font-weight: bold; }

